<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627184585139-71javlkm7u2pgv09ksu0idpr9gqbp2be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627184585139-71javlkm7u2pgv09ksu0idpr9gqbp2be</string>
	<key>API_KEY</key>
	<string>AIzaSyC4fwkxmwnLrM4uLMLwIlsX7-4pLsWzX7c</string>
	<key>GCM_SENDER_ID</key>
	<string>627184585139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mediafinder.bahnasy</string>
	<key>PROJECT_ID</key>
	<string>mediafinderapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mediafinderapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627184585139:ios:ee103112dba7bd9f21e3c6</string>
</dict>
</plist>